body {
    background-color: rgba(3, 3, 3, 0.959);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#Login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 15px;
}

.inputs {
     border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(85, 81, 81, 0.493);
    box-shadow: 2px 2px 5px 5px rgb(65, 137, 170);
    height: 25px;
    width: 250px;
    color: white;
    font-size: 15px;
    padding: 8px;
    outline: none;
    transition: 0.3s;
}

#textLogin {
    font-weight: bold;
    color: white;
    font-size: 35px;
    margin: 0;
    text-align: center;
}

.labelInput {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

.divInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#buttonLogin {
    border-radius: 35px;
    height: 50px;
    background-color: deepskyblue;
    color: black;
    font-size: 15px;
}

#createAccount {
    font-size: 15px;
    color: white;
    text-align: center;
    transition: 035s;
}

#createAccount a {
    text-decoration: none;
    color: deepskyblue;
}


.inputs:hover{
    border: 1px solid deepskyblue;
    box-shadow: 0 0 15px deepskyblue;
    transform: scale(1.05);
}


#buttonLogin:hover {
    transform: scale(1.15);
    box-shadow: 0 0 15px deepskyblue;
    max-height: 70px;
}

